.sign-up {
  margin-left: 30px;
}

#intro {
	font-size: 20px;
}

.login {
	margin-top: 20px;
}

h1 {
	text-align: center;
}

hr {
	border-color: black;
}

#actions_panel {
	padding: 30px;
}

li, #actions_panel, .picture{
	border: 1px solid black;
	border-radius: 5px;
	background-color: white
}

li {
	margin-left: 0px;
	float: left;
	margin-right: 15px;
	padding: 5px;
	margin-bottom: 20px;
}

#home_image_erb {
	padding: 20px;
	margin-right: 30px;
}

#logout {
	margin-top: 20px;
	margin-left: 800px;
}

#home_pic {
	width: 100%;
	height: 100%;
}