<div class = "4 columns" id = "sleep_selector">
	<form>
		<h4>How long should your tamabootchi sleep?</h4>
		<p>
		<select name="sleep time">
		<option value="1">1 hour</option>
		<option value="2">2 hours</option>
		<option value="3">3 hours</option>
		<option value="4">4 hours</option>
		<option value="5">5 hours</option>
		<option value="6">6 hours</option>
		<option value="7">7 hours</option>
		<option value="8">8 hours</option>
		<option value="9">9 hours</option>
		<option value="10">10 hours</option>
		</select>
		<input type="submit" value="Sleep">
	</form>
</div>

<div class = "4 columns" id = "code_selector">
	<form>
		<h4>How long should your tamabootchi code?</h4>
		<p>
		<select name="code time">
		<option value="1">1 hour</option>
		<option value="2">2 hours</option>
		<option value="3">3 hours</option>
		<option value="4">4 hours</option>
		<option value="5">5 hours</option>
		<option value="6">6 hours</option>
		<option value="7">7 hours</option>
		<option value="8">8 hours</option>
		<option value="9">9 hours</option>
		<option value="10">10 hours</option>
		</select>
		<input type="submit" value="Code">
	</form>
</div>