<div class = "12 columns offset-by-two" id = 'status_bar'>
	<ul>
		<li><h4>Code Level: <span id = 'insert_code'><%= @user.tamabootchi.code_level %></span>/ 100</h4></li>
		<li><h4>Alertness: <span id = 'insert_alertness'><%= @user.tamabootchi.alertness %></span> / 10</h4></li>
		<li><h4>Fullness: <span id = 'insert_fullness'><%= @user.tamabootchi.fullness %></span> / 10</h4></li>
		<li><h4>Currently: <span id = 'insert_status'>Hanging out</span></h4></li>
	</ul>
</div>

<div class = "7 columns offset-by-one" id = "img_container">
	<%= erb image_for_mood, layout: false %>
</div>

<div class = "4 columns" id = "actions_panel">

	<div id = "code_selector">
		<form class="remove-bottom">
			<h4>How long should your tama-boot-chi code?</h4>
			<select name="code" id = "code_time">
			<option value="1">1 hour</option>
			<option value="2">2 hours</option>
			<option value="3">3 hours</option>
			<option value="4">4 hours</option>
			<option value="5">5 hours</option>
			<option value="6">6 hours</option>
			<option value="7">7 hours</option>
			<option value="8">8 hours</option>
			<option value="9">9 hours</option>
			<option value="10">10 hours</option>
			</select>
			<input type="submit" value="Code">
		</form>
	</div>

	<div id = "sleep_selector">
		<form>
			<h4>How long should your tama-boot-chi sleep?</h4>
			<select name="sleep" id = "sleep_time">
			<option value="1">1 hour</option>
			<option value="2">2 hours</option>
			<option value="3">3 hours</option>
			<option value="4">4 hours</option>
			<option value="5">5 hours</option>
			<option value="6">6 hours</option>
			<option value="7">7 hours</option>
			<option value="8">8 hours</option>
			<option value="9">9 hours</option>
			<option value="10">10 hours</option>
			</select>
			<input type="submit" value="Sleep">
		</form>
	</div>

	<div id = "food_selector">
		<form>
			<h4>What will you feed your tama-boot-chi?</h4>
			<select name="food" id = "food_kind">
			<option value="4">Taco Truck Burrito</option>
			<option value="5">Chipotle Burrito</option>
			<option value="6">Whole Foods</option>
			<option value="7">Cafe Ramen</option>
			<option value="8">Leftovers</option>
			</select>
			<input type="submit" value="Feed">
		</form>
	</div>

</div>

<div>
	<form action = "/users/logout" method = "post">
		<input class = "two columns" type="submit" value="Logout" id = "logout">
	</form>
</div>
