<div class="eight columns">
  <form action="/users" method="get">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login">
      <a class="sign-up" href="/users/new">Not a user? Sign up!</a>
  </form>
</div>

<div class="eight columns">
<form action="/users/new" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="email" name="email" placeholder="email">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Sign Up">
</form>
</div>
